*{
	box-sizing: border-box;
}
body{
	background-image: url(images/95395.jpg);
	background-size: cover;
	text-align: center;
}
a{
	text-decoration: none;
}
section{
	text-align: center;
	margin: 10% 10%;
	padding: 20px 10px;
}
h1, p{
	font-size: 200%;
	color: white;
}
input{
	padding: 10px;
}